body {
  color: #ffcc00; }

.bg--name {
  background-color: #ff0000; }

.bg--name {
  background-color: #0000ff; }

.bg--name {
  background-color: #ffcc00; }

.bg--name {
  background-color: #e1e1e1; }

.bg--name {
  background-color: dark; }

.bg--name {
  background-color: light; }
